.about-section {
    padding: 20px 25%;
    background: #F9F9F9;
    border-radius: 20px;
    text-align: center;
    background: #F9F9F9;
}
.c1 {
    color: #6301EA;
    font-weight: bold;
}
.c2 {
    color: black;
}