.welcome {
    background-image: linear-gradient(to right, #6001E6, #3A00B7);
    color: #ffffff;
    text-align: center;
    padding: 40px 0 30px 0;
    line-height: 50px;
}
.title {
    margin: 0;
    font-size: 30px;
}