<div class="gestures-section">
    <h2 class="c2" id="gestures">Gestures</h2>
    <div class="gestures-cards">
        <div class="gestures-card">
          <img src="assets/a.png">
          <h3 class="c1">A</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/b.png">
          <h3 class="c1">B</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/c.png">
          <h3 class="c1">C</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/d.png">
          <h3 class="c1">D</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/e.png">
          <h3 class="c1">E</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/f.png">
          <h3 class="c1">F</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/g.png">
          <h3 class="c1">G</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/h.png">
          <h3 class="c1">H</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/i.png">
          <h3 class="c1">I</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/j.png">
          <h3 class="c1">J</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/k.png">
          <h3 class="c1">K</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/l.png">
          <h3 class="c1">L</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/m.png">
          <h3 class="c1">M</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/n.png">
          <h3 class="c1">N</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/o.png">
          <h3 class="c1">O</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/p.png">
          <h3 class="c1">P</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/q.png">
          <h3 class="c1">Q</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/r.png">
          <h3 class="c1">R</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/s.png">
          <h3 class="c1">S</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/t.png">
          <h3 class="c1">T</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/u.png">
          <h3 class="c1">U</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/v.png">
          <h3 class="c1">V</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/w.png">
          <h3 class="c1">W</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/x.png">
          <h3 class="c1">X</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/y.png">
          <h3 class="c1">Y</h3>
        </div>
        <div class="gestures-card">
          <img src="assets/z.png">
          <h3 class="c1">Z</h3>
        </div>
      </div>
</div>
